DATABASE_URL=postgresql://elias_sanchez:mVFmWbR05SfTRfqqm8F3jLaKBjydG1io@dpg-d6nl0r7afjfc73ah3u8g-a.virginia-postgres.render.com:5432/kahootgenerico
SECRET_KEY=pon-aqui-un-texto-secreto-largo
# FRONTEND_URL se completa DESPUÉS de hacer deploy en Vercel
# Ejemplo: https://teamkahoot.vercel.app
FRONTEND_URL=https://TU-APP.vercel.app
